%footer-link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

.footer {
    background: $main-color;
    min-height: 497px;
    padding: 49px 0 44px 0;
    &__wrap {
        display: flex;
        justify-content: space-between;  
        flex-wrap: wrap;  
    }
    &__item {
        margin-bottom: 45px;
    }
    &__title {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }
    &__logo {
        margin: 21px 0 23px 0;
    }
    &__content {
        width: 377px;
        @extend %footer-link;
    }
    &__link {
        @extend %footer-link;
    }
    &__copyright {
        @extend %footer-link;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 36px;
    }
}