.promo {
    position: relative;
    min-height: 700px;

}
.slider1 {
    width: 100%;
    height: 100%;
    position: relative;
    
    
    .slick-prev, .slick-next {
        position: absolute;
        border: none;
        background: none;
        z-index: 1000;
        top: 626px;
        transform: translateY(-50%);
        left: 870px;
    }
    .slick-next {
        right: 879px;
        left: auto;
    }
 
    .slick-dots {
        position: absolute;
        list-style-type: none;
        display: flex;
        top: 621px;
        left: 45%;
        transform: translateY(-45%);
       button {
           border-radius: 50%;
           border: 1px solid #fff;
           background: none;
           width: 11px;
           height: 17px;
           margin-right: 3px;
           font-size: 0;
       }
    }
    .slick-dots li[class="slick-active"] button {
        background: #fff;
    }
    .container {
        z-index: 3;
        header {
            width: 1140px;
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 39px;
            
            nav {
                margin-top: 18px;
                ul {
                    display: flex;
                    list-style-type: none;
                    justify-content: end;
                    align-items: center;
                    li {
                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 26px;
                            text-transform: uppercase;
                            margin-left: 46px;
                            &:hover {
                                color: $main-color;
                            }
                        }
                    }
                }
                .hamburger {
                    display: none;
                }
                
            }
        }
        .header__content {
            min-width: 544px;
            position: absolute;
            top: 237px;
            z-index: 4;
            .header__title {
                position: absolute;
                color: #ffffff;
                font-size: 41px;
                font-weight: 700;
                line-height: 46px;
            }
            .header__subtitle {
                position: absolute;
                color: #ffffff;
                top: 120px;
                font-size: 24px;
                font-weight: 300;
                line-height: 30px;
            }
            .header__btn {
                margin-top: 215px;
                width: 241px;
                height: 60px;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
                background-color: $main-color;
                border-radius: 3px;
                border: none;
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                &:hover {
                    box-shadow: 0px 0px 5px #fff;
                }
            }
        }
        .img-phone {
            position: absolute;
            top: 131px;
            left: 707px;
        }
    }
}