.start {
    min-height: 690px;
    padding: 80px 0 50px 0;
    text-align: center;
    &__icon {
        background: url(../icons/icon-link.png) center center/cover no-repeat;
        width: 302px;
        height: 302px;
        margin: 0 auto;
    }
    &__title {
        margin-top: 74px;
        color: #393939;
        font-size: 30px;
        font-weight: 900;
        line-height: 36px;
    }
}